# edit paths and copy to /etc/systemd/system/rpc.service
# then enable: systemctl enable rpc.service

[Unit]
Description=RPC Proxy Docker Service
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
WorkingDirectory=/root/eth-rpc-proxy
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
